@import "tailwindcss";

@config "../../tailwind.config.js";
@plugin "daisyui" {
    themes: tooling-light --default,
    tooling-dark;
}

@plugin "daisyui/theme" {
    name: "tooling-light";
    color-scheme: "light";
    --color-base-100: oklch(100% 0 0);
    --color-base-200: oklch(93% 0 0);
    --color-base-300: oklch(86% 0 0);
    --color-base-content: oklch(22.389% 0.031 278.072);
    --color-primary: oklch(49% 0.27 292.581);
    --color-primary-content: oklch(100% 0 0);
    --color-secondary: oklch(55% 0.016 285.938);
    --color-secondary-content: oklch(100% 0 0);
    --color-accent: oklch(58% 0.158 241.966);
    --color-accent-content: oklch(100% 0 0);
    --color-neutral: oklch(0% 0 0);
    --color-neutral-content: oklch(100% 0 0);
    --color-info: oklch(71% 0.143 215.221);
    --color-info-content: oklch(100% 0 0);
    --color-success: oklch(72% 0.219 149.579);
    --color-success-content: oklch(100% 0 0);
    --color-warning: oklch(85% 0.199 91.936);
    --color-warning-content: oklch(0% 0 0);
    --color-error: oklch(70% 0.191 22.216);
    --color-error-content: oklch(0% 0 0);
    --radius-selector: 2rem;
    --radius-field: 0.5rem;
    --radius-box: 0.5rem;
    --size-selector: 0.1875rem;
    --size-field: 0.1875rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}

@plugin "daisyui/theme" {
    name: "tooling-dark";
    color-scheme: "dark";
    --color-base-100: oklch(24.353% 0 0);
    --color-base-200: oklch(22.648% 0 0);
    --color-base-300: oklch(20.944% 0 0);
    --color-base-content: oklch(84.87% 0 0);
    --color-primary: oklch(29% 0.149 302.717);
    --color-primary-content: oklch(88.34% 0.019 251.473);
    --color-secondary: oklch(55% 0.016 285.938);
    --color-secondary-content: oklch(12.818% 0.005 229.389);
    --color-accent: oklch(37% 0.146 265.522);
    --color-accent-content: oklch(13.454% 0.033 35.791);
    --color-neutral: oklch(27% 0.006 286.033);
    --color-neutral-content: oklch(85.488% 0.002 253.041);
    --color-info: oklch(45% 0.085 224.283);
    --color-info-content: oklch(12.523% 0.028 240.033);
    --color-success: oklch(52% 0.154 150.069);
    --color-success-content: oklch(14.045% 0.018 156.596);
    --color-warning: oklch(68% 0.162 75.834);
    --color-warning-content: oklch(15.496% 0.023 81.519);
    --color-error: oklch(39% 0.141 25.723);
    --color-error-content: oklch(90.322% 0.029 29.674);
    --radius-selector: 2rem;
    --radius-field: 0.5rem;
    --radius-box: 0.5rem;
    --size-selector: 0.1875rem;
    --size-field: 0.1875rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}
