@import "tailwindcss";

@config "../../tailwind.config.js";
@plugin "daisyui" {
    themes: latte --default,
    macchiato;
}

@plugin "daisyui/theme" {
    name: "latte";
    default: true;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(0.9578 0.0058 264.53);
    --color-base-200: oklch(0.8575 0.0145 268.48);
    --color-base-300: oklch(0.8083 0.0174 271.2);
    --color-base-content: oklch(0.4355 0.043 279.33);
    --color-primary: oklch(0.5547 0.2503 297.02);
    --color-primary-content: #eff1f5;
    --color-secondary: oklch(0.7077 0.0237 274.6);
    --color-secondary-content: oklch(0.4355 0.043 279.33);
    --color-accent: oklch(0.7141 0.1045 33.1);
    --color-accent-content: #eff1f5;
    --color-neutral: #dce0e8;
    --color-neutral-content: oklch(0.4355 0.043 279.33);
    --color-info: oklch(0.625 0.2013 262.09);
    --color-info-content: #eff1f5;
    --color-success: oklch(0.625 0.1307 140.44);
    --color-success-content: #eff1f5;
    --color-warning: #df8e1d;
    --color-warning-content: #eff1f5;
    --color-error: oklch(0.625 0.2155 19.81);
    --color-error-content: #eff1f5;
    --radius-selector: 2rem;
    --radius-field: 0.5rem;
    --radius-box: 0.5rem;
    --size-selector: 0.1875rem;
    --size-field: 0.1875rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}


@plugin "daisyui/theme" {
    name: "macchiato";
    default: true;
    prefersdark: false;
    color-scheme: "dark";
    --color-base-100: oklch(0.2788 0.0353 276.94);
    --color-base-200: oklch(0.3538 0.0369 275.99);
    --color-base-300: oklch(0.4259 0.0385 276.95);
    --color-base-content: oklch(0.8708 0.0481 273.67);
    --color-primary: oklch(0.7715 0.1259 303.9);
    --color-primary-content: oklch(0.2788 0.0353 276.94);
    --color-secondary: oklch(0.5608 0.0407 276.47);
    --color-secondary-content: oklch(0.8708 0.0481 273.67);
    --color-accent: oklch(0.8629 0.0479 18.12);
    --color-accent-content: oklch(0.2788 0.0353 276.94);
    --color-neutral: oklch(0.2188 0.0255 280.66);
    --color-neutral-content: oklch(0.8708 0.0481 273.67);
    --color-info: oklch(0.7497 0.1101 263.81);
    --color-info-content: oklch(0.2788 0.0353 276.94);
    --color-success: oklch(0.835 0.1079 138.15);
    --color-success-content: oklch(0.2788 0.0353 276.94);
    --color-warning: oklch(0.879 0.0744 84.75);
    --color-warning-content: oklch(0.2788 0.0353 276.94);
    --color-error: oklch(0.737 0.1252 11.19);
    --color-error-content: oklch(0.2788 0.0353 276.94);
    --radius-selector: 2rem;
    --radius-field: 0.5rem;
    --radius-box: 0.5rem;
    --size-selector: 0.1875rem;
    --size-field: 0.1875rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}
