@using UntitledRpgLogic.DevTool.Services.Contracts
@inject IConfigStore ConfigStore

@page "/settings"

<h1 class="text-2xl mb-4">Settings</h1>

<h2 class="text-lg mb-2">Module Configuration</h2>

<p class="p-2 mb-1">Set your author information here. If you have an existing author.toml file, you can drag it onto the page.</p>

<div class="form-control w-full max-w-xs">
    <label class="label">
        <span class="label-text">Author Name</span>
    </label>
    <input @bind="ConfigStore.AuthorName" type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
</div>

<div class="form-control w-full max-w-xs">
    <label class="label">
        <span class="label-text">Author GUID</span>
    </label>
    <input @bind="ConfigStore.AuthorGuid" type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
</div>

