<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<packageSources>
		<clear/>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3"/>
		<add key="github" value="https://nuget.pkg.github.com/nwesterhausen/index.json"/>
	</packageSources>
	<packageRestore>
		<add key="enabled" value="true"/>
		<add key="automatic" value="true"/>
	</packageRestore>
	<packageSourceMapping>
		<clear/>

		<package pattern="*" source="nuget.org"/>

		<package pattern="UntitledRpgLogic.*" source="github"/>
		<package pattern="UntitledRpg.*" source="github"/>
	</packageSourceMapping>
</configuration>
