@using UntitledRpgLogic.DevTool.Components
@inherits LayoutComponentBase
<div class="h-100">
    <NavMenu/>

    <div class="flex gap-4">
        <main class="flex-1">
            <article class="content px-4">
                @Body
            </article>
        </main>
        
        <aside class="w-80 bg-base-200 rounded-lg p-4 h-100">
            <!-- Right column content goes here -->
            <h3 class="text-lg font-semibold mb-4">Tools</h3>
            <ConfigList />
        </aside>
    </div>
</div>
