@using UntitledRpgLogic.DevTool.Components
@inherits LayoutComponentBase

<div class="drawer">
    
    <div class="drawer-content flex flex-col">
        <NavMenu OnConfigDrawerToggle="@ToggleConfigDrawer" />

        <main class="flex-1">
            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
    <ConfigDrawer @bind-IsDrawerOpen="@isConfigDrawerOpen" @ref="configDrawer" />
</div>

@code {
    private bool isConfigDrawerOpen = false;
    private ConfigDrawer? configDrawer;

    private void ToggleConfigDrawer()
    {
        isConfigDrawerOpen = !isConfigDrawerOpen;
        if (isConfigDrawerOpen && configDrawer != null)
        {
            configDrawer.RefreshConfigs();
        }
    }
}
