@using UntitledRpgLogic.DevTool.Components
<div class="navbar bg-primary text-primary-content shadow-sm">
    <div class="navbar-start">
        <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16"/>
                </svg>
            </div>
            <ul
                tabindex="0"
                class="menu dropdown-content bg-neutral text-neutral-content border-base rounded-box z-100 mt-3 w-52 p-2 shadow">
                <NavMenuContents/>
            </ul>
        </div>
        <a class="btn btn-ghost text-xl" href="/">UntitledRpg Dev Tooling</a>
    </div>
    <div class="navbar-start hidden lg:flex">
        <ul class="menu menu-horizontal px-1 z-100">
            <NavMenuContents/>
        </ul>
    </div>
    <div class="navbar-end">
        <div class="flex gap-2">
            <button class="btn btn-ghost" @onclick="@OnConfigDrawerToggle" title="Toggle Config Files">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"/>
                </svg>
            </button>
            <ThemeChanger/>
            <a class="btn btn-info self-center">@ExportText</a>
        </div>
    </div>
</div>

@code{
    [Parameter] public EventCallback OnConfigDrawerToggle { get; set; }
    
    const string ExportText = "Export";
}
