@page "/Create"
@using UntitledRpgLogic.DevTool.Pages.Create

<h3 class="text-3xl font-bold mb-6 text-primary">Create Configurations</h3>
<p>Create a new: <select class="select select-neutral" @bind="_selectedType">
		<option value="Material">Material</option>
		<option value="Item">Item</option>
		<option value="Stat">Stat</option>
		<option value="Skill">Skill</option>
	</select></p>

@if (_selectedType == "Material")
{
	<Material/>
}
else if (_selectedType == "Item")
{
	<Item/>
}
else if (_selectedType == "Stat")
{
	<Stat/>
}
else if (_selectedType == "Skill")
{
	<Skill/>
}

@code {
	private string _selectedType = "Material";
}
