@page "/Create"

<h3 class="text-3xl font-bold mb-6 text-primary">Create Configurations</h3>
<p>Create a new: <select class="select select-neutral" @bind="_selectedType">
		<option value="Material">Material</option>
		<option value="Item">Item</option>
		<option value="Stat">Stat</option>
		<option value="Skill">Skill</option>
	</select></p>

@if (_selectedType == "Material")
{
	@* <Material/> *@
	<p>Material</p>
}
else if (_selectedType == "Item")
{
	@* <Item/> *@
	<p>Item</p>
}
else if (_selectedType == "Stat")
{
	@* <Stat/> *@
	<p>Stat</p>
}
else if (_selectedType == "Skill")
{
	@* <Skill/> *@
	<p>Skill</p>
}

@code {
	private string _selectedType = "Material";
}
